
      <form name="form" class="css-form" novalidate>
        <label>Nombre:
          <input type="text" ng-model="user.name" name="uName" required="" />
        </label>
        <br />
        <div ng-show="form.$submitted || form.uName.$touched">
          <div ng-show="form.uName.$error.required">Este campo es requerido</div>
        </div>
    
        Sexo:
        <label><input type="radio" ng-model="user.gender" value="male" />Masculino</label>
        <label><input type="radio" ng-model="user.gender" value="female" />Femenino</label>
        <br />
        <label>
    
        <label>¿Qué es lo que más te gusta?</label>
        <input type="hidden" ng-model="user.preference" name="uPreference" required="" />
          <select class="form-control" ng-model="user.preference" name="uPreference" required="">
              <option value="El espacio sideral">El espacio sideral</option>
              <option value="Ir a Misa">Ir a Misa</option>
              <option value="Montar bicicleta">Montar bicicleta</option>
              <option value="Atrapar pokemons">Atrapar pokemons</option>
            </select>
          <br />
          <div ng-show="form.$submitted || form.uPreference.$touched">
            <span ng-show="form.uPreference.$error.required">Este campo es requerido</span>
          </div>
          
          <div ng-if="user.preference == 'Atrapar pokemons'">
            <div ng-repeat="pokemon in pokemons" ng-model="user.select" name="uSelect" >
                <input type="checkbox"  value="{{pokemon.name}}">{{pokemon.name}}
            </div>
          </div>

          <div ng-if="user.preference == 'Montar bicicleta'">
              <div ng-repeat="bicicleta in bicicletas" ng-model="user.select" name="uSelect" >
                  <input type="checkbox"  value="{{bicicleta.name}}">{{bicicleta.name}}
              </div>
            </div>

            <div ng-if="user.preference == 'Ir a Misa'">
                <div ng-repeat="misa in misas" ng-model="user.select" name="uSelect" >
                    <input type="checkbox"  value="{{misa.name}}">{{misa.name}}
                </div>
              </div>

              <div ng-if="user.preference == 'El espacio sideral'">
                  <div ng-repeat="espacio in espacios" ng-model="user.select" name="uSelect" >
                      <input type="checkbox"  value="{{espacio.name}}">{{espacio.name}}
                  </div>
                </div>
    
        <input type="button" ng-click="reset(form)" value="Limpiar" />
        <input type="submit" ng-click="update(user)" value="Guardar" />
      </form>
      <pre>Usuario = {{user | json}}</pre>
      <pre>Lo que seleccionaste = {{master | json}}</pre>
